<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微平台后台管理系统</title>
    <script src="/static/layui/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">微平台后台管理系统</div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">主页</a>
                    <dl class="layui-nav-child">
                        <dd><a id="activityApply" href="#">活动申请审核</a></dd>
                        <dd><a id="activityList" href="#">活动列表</a></dd>
                        <dd><a id="feedList" href="#">首页feed列表</a></dd>
                        <dd><a id="studentList" href="#">学生列表</a></dd>
                        <dd><a id="teamList" href="#">团队列表</a></dd>
                        <dd><a id="projectList" href="#">项目列表</a></dd>
                        <dd><a id="releaseActivity" href="#">发布首页information信息</a></dd>
                        <dd><a id="releaseTeam" href="#">发布团队信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="iframe" width="100%" height="100%"></iframe>
    </div>
</div>
<script src="/static/layui/layui.js" charset="utf-8"></script>

<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    //用于页面加载时候显示
    $(document).ready(function () {
        $("#iframe").attr('src', '/page/applyList');
    });

    //根据点击进行跳转
    $("#activityApply").click(function () {
        $("#iframe").attr('src', '/page/applyList');
    });

    $("#activityList").click(function () {
        $("#iframe").attr('src', '/page/activityList');
    });

    $("#feedList").click(function () {
        $("#iframe").attr('src', '/page/feedList');
    });

    $("#teamList").click(function () {
        $("#iframe").attr('src', '/page/teamList');
    });

    $("#projectList").click(function () {
        $("#iframe").attr('src', '/page/projectList');
    });

    $("#studentList").click(function () {
        $("#iframe").attr('src', '/page/studentList');
    });

    $("#releaseActivity").click(function () {
        $("#iframe").attr('src', '/page/releaseActivity');
    });

    $("#releaseTeam").click(function () {
        $("#iframe").attr('src', '/page/releaseTeam');
    });
</script>
</body>
</html>
