<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<table class="layui-hide" id="test" lay-filter="test"></table>
<span id="show" style="display:none">123</span>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <!--    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
        <!--    <button class="layui-btn layui-btn-sm" lay-event="isAll" id="all">验证是否全选</button>-->
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
</script>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['table', 'laypage', 'jquery', 'form', 'laydate'], function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;

        table.render({

            elem: '#test',
            url: '/project/list',
            toolbar: '#toolbarDemo',
            title: '用户数据表',
            totalRow: true,
            cols: [
                [{
                    type: 'checkbox',
                    fixed: 'left'
                }, {
                    field: 'id',
                    title: 'ID',
                    width: 180,
                    // fixed: 'left',
                    unresize: true,
                    sort: true,

                }, {
                    field: 'name',
                    title: '项目名称',
                    width: 300,
                    edit: 'text'
                }, {
                    field: 'description',
                    title: '项目描述',
                    width: 600,
                    sort: true,
                    // totalRow: true
                }, {
                    field: 'detailDescription',
                    title: '详细描述',
                    width: 200,
                    edit: 'text',
                    sort: true
                }, {
                    field: 'honor',
                    title: '荣誉',
                    width: 200
                }, {
                    field: 'properties',
                    title: '性质',
                    width: 200
                }, {
                    fixed: 'right',
                    width: 100,
                    align: 'center',
                    toolbar: '#barDemo'
                }]
            ],
            page: false
        });

        var arr = [];
        table.on('checkbox(test)', function (obj) {
            var flg = 0;
            if (obj.type != 'all') {
                if (arr.length == 0) {
                    if (obj.checked == true) {
                        arr.push(obj);

                    }
                } else {
                    $.each(arr, function (index, value) {
                        if (obj.data.id == value.data.id) {
                            flg = 1;
                            if (obj.checked == false) {
                                arr.splice(index, 1);
                            }
                        } else {
                            flg = 0;
                        }

                    });
                    if (flg == 0) {
                        arr.push(obj);
                    }
                }
            }
        });

        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);

            // 					console.log(table.checkStatus(obj.config.id));
            // console.log(obj.config.elem)

            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    $(this).parent().parent().parent().parent().toggle();
                    $("#show").toggle();
                    $("#all").toggle();
                    console.log(data)
                    $('#show').html(JSON.stringify(data))
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    console.log(checkStatus)
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
            }
            ;
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 1,
                    title: "团队项目信息详情",
                    area: ['700px', '500px'],
                    content: $("#popUpdateTest")//引用的弹出层的页面层的方式加载修改界面表单
                });
                //表单初始赋值
                setForm(data);
            }
            console.log(obj.data);
        });

        function setForm(data) {
            form.val('project', {
                "name": data.name     // 格式："name": "value"
                , "description": data.description
                , "detailDescription": data.detailDescription
                , "honor": data.honor
                , "properties": data.properties
            })
        }

    });

</script>
<div class="layui-row" id="popUpdateTest" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" lay-filter="project" action="" style="margin-top:20px">
            <div class="layui-form-item">
                <label class="layui-form-label">项目名称 </label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目描述</label>
                <div class="layui-input-block">
                    <textarea name="description" required lay-verify="required" autocomplete="off" placeholder=""
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">详细描述</label>
                <div class="layui-input-block">
                    <textarea name="detailDescription"  autocomplete="off" placeholder=""
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">荣誉 </label>
                <div class="layui-input-block">
                    <input type="text" name="honor"  autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性质 </label>
                <div class="layui-input-block">
                    <input type="text" name="properties" required lay-verify="required" autocomplete="off"
                           placeholder=""
                           class="layui-input">
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>
