<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="statistic0">
    <div class="statistic1">
        <select name="interest" lay-filter="aihao" id="statistic">
            <option value=""></option>
            <option value="100" selected="">查看前一百条数据</option>
            <option value="300">查看前三百条数据</option>
            <option value="500">查看前五百条数据</option>
            <option value="1000">查看前一千条数据</option>
        </select>
    </div>
</div>

<table class="layui-hide" id="test" lay-filter="test"></table>
<span id="show" style="display:none">123</span>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
</script>


<script src="/static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['table', 'laypage', 'jquery', 'form', 'laydate'], function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;


        $("#statistic").change(function () {
            var value = $('select  option:selected').val();
            var u = window.location.href;
            console.log(value);
            table.reload('mytable', {
                page: {
                    curr: 1
                }
                , method: 'GET',
                url: '/school/studentList?offset='+ value,
            });
        })


        table.render({

            id: 'mytable',
            elem: '#test',
            url: '/school/studentList',
            toolbar: '#toolbarDemo',
            title: '用户数据表',
            totalRow: true,
            cols: [
                [{
                    type: 'checkbox',
                    fixed: 'left'
                }, {
                    // totalRowText: '合计',
                    field: 'nickName',
                    title: '申请人微信昵称',
                    width: 180,
                    // fixed: 'left',
                    unresize: true,
                    sort: true,

                }, {
                    field: 'openId',
                    title: '微信openId',
                    width: 300,
                    edit: 'text'
                }, {
                    field: 'jwcAccount',
                    title: '学号',
                    width: 200,
                    sort: true,
                    // totalRow: true
                }, {
                    field: 'qualityFraction',
                    title: '素质拓展分数',
                    width: 200,
                    edit: 'text',
                    sort: true
                }, {
                    field: 'comprehensiveFraction',
                    title: '综测',
                    width: 200
                }, {
                    field: 'grade',
                    title: '年级',
                    width: 200
                }, {
                    field: 'department',
                    title: '学院',
                    width: 200
                },{
                    fixed: 'right',
                    width: 100,
                    align: 'center',
                    toolbar: '#barDemo'
                }]
            ],
            page: false,


        });


        var arr = [];
        table.on('checkbox(test)', function (obj) {
            var flg = 0;
            if (obj.type != 'all') {
                if (arr.length == 0) {
                    if (obj.checked == true) {
                        arr.push(obj);

                    }
                } else {
                    $.each(arr, function (index, value) {
                        if (obj.data.id == value.data.id) {
                            flg = 1;
                            if (obj.checked == false) {
                                arr.splice(index, 1);
                            }
                        } else {
                            flg = 0;
                        }

                    });
                    if (flg == 0) {
                        arr.push(obj);
                    }
                }
            }
        });


        //工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);

            // 					console.log(table.checkStatus(obj.config.id));
            // console.log(obj.config.elem)

            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    $(this).parent().parent().parent().parent().toggle();
                    $("#show").toggle();
                    $("#all").toggle();
                    console.log(data)
                    $('#show').html(JSON.stringify(data))
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    console.log(checkStatus)
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                    break;
            }
            ;
        });
        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                console.log(obj.data);
                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 1,
                    title: "学生信息详情",
                    area: ['700px', '500px'],
                    content: $("#popUpdateTest")//引用的弹出层的页面层的方式加载修改界面表单
                });
                //表单初始赋值
                setForm(data);
            }
        });
        function setForm(data) {
            form.val('student', {
                "nickName": data.nickName     // 格式："name": "value"
                , "openId": data.openId
                , "jwcAccount": data.jwcAccount
                , "comprehensiveFraction": data.comprehensiveFraction
                , "qualityFraction": data.qualityFraction
                , "grade":data.grade
                , "department":data.department
            })
        }
    });
</script>
<div class="layui-row" id="popUpdateTest" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" lay-filter="student" action="" style="margin-top:20px">
            <div class="layui-form-item">
                <label class="layui-form-label">申请人微信昵称 </label>
                <div class="layui-input-block">
                    <input type="text" name="nickName" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">微信openId </label>
                <div class="layui-input-block">
                    <input type="text" name="openId" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学号 </label>
                <div class="layui-input-block">
                    <input type="text" name="jwcAccount" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">素质拓展分数 </label>
                <div class="layui-input-block">
                    <input type="text" name="comprehensiveFraction" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">综测 </label>
                <div class="layui-input-block">
                    <input type="text" name="qualityFraction" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年级 </label>
                <div class="layui-input-block">
                    <input type="text" name="grade" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学院 </label>
                <div class="layui-input-block">
                    <input type="text" name="department" required lay-verify="required" autocomplete="off" placeholder=""
                           class="layui-input">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
