<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.dao.ProjectDAO">

    <insert id="insertProject">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into project(name, description, honor, schedule, properties,detail_description)
        value(#{name}, #{description}, #{honor}, #{schedule}, #{properties}, #{detailDescription})
    </insert>

    <update id="updateProject">
        update project
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="honor != null">
                honor = #{honor},
            </if>
            <if test="properties != null">
                properties = #{properties},
            </if>
            <if test="schedule != null">
                schedule = #{schedule},
            </if>
            <if test="detail_description != null">
                detail_description = #{detailDescription},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByProjectId" resultType="com.hang.pojo.data.ProjectDO">
        select * from project where id = #{id}
    </select>
    <select id="list" resultType="com.hang.pojo.data.ProjectDO">
        select * from project
    </select>

</mapper>