<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hang.dao.TeamDAO">

    <insert id="insertTeam">
        <!-- LAST_INSERT_ID() 返回插入数据后的最新的主键自增值给id -->
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        insert into team(name, honor, log, members, advisor)
        values (#{name}, #{honor}, #{log}, #{members}, #{advisor})
    </insert>

    <insert id="insert2TeamUser">
        insert into team_user(user_id, team_id)
        values(#{userId}, #{teamId})
    </insert>

    <insert id="insert2TeamProject">
        insert into project_team(team_id, project_id)
        values (#{teamId}, #{projectId})
    </insert>

    <update id="updateTeam">
      update team
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="honor != null">
                honor = #{honor},
            </if>
            <if test="log != null">
                log = #{log},
            </if>
            <if test="members != null">
                members = #{members},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
        </set>
      where id = #{id}
    </update>

    <delete id="deleteTeamByTeamId">
      delete from team where id = #{teamId}
    </delete>

    <select id="selectByTeamId" resultType="com.hang.pojo.data.TeamDO">
      select * from team where id = #{teamId}
    </select>

    <select id="selectProjectByTeamId" resultType="com.hang.pojo.data.ProjectDO">
      select * from project
      where id in
      (select project_id from project_team where team_id = #{teamId})
    </select>

    <select id="selectTeamByUserId" resultType="com.hang.pojo.data.TeamDO">
      select * from team
      where id in
      (select team_id from team_user where user_id = #{userId})
    </select>

    <select id="selectTeamByProjectId" resultType="com.hang.pojo.data.TeamDO">
      select * from team
      where id in
      (select team_id from project_team where project_id = #{projectId})
    </select>

    <select id="selectTeams" resultType="com.hang.pojo.data.TeamDO">
        select * from team limit #{start}, #{offset}
    </select>

    <select id="selectTeamsByAdvisor" resultType="com.hang.pojo.data.TeamDO">
        select *
        from team
        where advisor = #{advisor}
    </select>

</mapper>